.left {
    -fx-background-image: url("images/left.jpg");
    -fx-background-size: 247, 500;
    -fx-background-repeat: no-repeat;
    -fx-padding: 10;
    -fx-spacing: 8;
}

.right {
    -fx-background-image: url("images/right.jpg");
    -fx-background-size: 252, 500;
    -fx-background-repeat: no-repeat;
    -fx-padding: 10;
    -fx-spacing: 8;
}

.bottom {
    -fx-background-image: url("images/bottom.jpg");
    -fx-background-size: 1000, 152;
    -fx-background-repeat: no-repeat;
    -fx-padding: 18;
    -fx-spacing: 8;
}

.top {
    -fx-background-image: url("images/top.jpg");
    -fx-background-size: 1000, 56;
    -fx-background-repeat: no-repeat;
    -fx-padding: 25;
    -fx-spacing: 8;
}

.popup {
    -fx-background-color: seagreen;
    -fx-padding: 10;
}

#wall-wooden {
    -fx-background-image: url("images/wall-wooden.jpg");
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}

#wall-wooden:hover {
    -fx-background-image: url("images/wall-wooden-hover.jpg");
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 2 , 2 );
}

#trap-beariron {
    -fx-background-image: url("images/trap-beariron.jpg");
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}

#trap-beariron:hover {
    -fx-background-image: url("images/trap-beariron-hover.jpg");
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 2 , 2 );
}

#trap-pit {
    -fx-background-image: url("images/trap-pit.jpg");
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}

#trap-pit:hover {
    -fx-background-image: url("images/trap-pit-hover.jpg");
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 2 , 2 );
}